{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}
<div class="row">
    <!-- COURSE LIST -->
    <div class="col-md-9">
        <table class="table border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Initail</th>
                </tr>
            </thead>
            <tbody>
                {% for course in all_course %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.initial }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- SIDEBAR -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/course/add-course/">add new course</a>
            </li>
        </ul>
    </div> <!-- /sidebar -->
</div>
{% endblock %}