{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}
<div class="row">
    <!-- TOTAL ATTENANCE LIST -->
    <div class="col-md-9">
        <table class="table border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Teacher Name</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for course_attendance in all_course_attendance %}
                <tr>
                    <td>{{ course_attendance.course.title }}</td>
                    <td>{{ course_attendance.teacher.name }}</td>
                    <td>{{ course_attendance.student.name }}</td>
                    <td>{{ course_attendance.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- SIDEBAR -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/course/add-course-attendance/">add attendance</a>
            </li>
        </ul>
    </div> <!-- /sidebar -->
</div>
{% endblock %}