{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}
<div class="row">
    <!-- SECTION LIST -->
    <div class="col-md-9">
        <table class="table border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Course</th>
                </tr>
            </thead>
            <tbody>
                {% for section in all_section %}
                <tr>
                    <td>{{ section.name }}</td>
                    <td>{{ section.course.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- SIDEBAR -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/course/add-section/">add new section</a>
            </li>
        </ul>
    </div> <!-- /sidebar -->
</div>
{% endblock %}