{% load static %}

<nav class="navbar navbar-expand-md fixed-top scrolling-navbar">
    <div class="container">
          <a href="/" class="navbar-brand">
            <img src="{% if request_institute.logo %}{{ request_institute.logo.url }}{% else %}{% static 'landing/img/footer-logo.png' %}{% endif %}"
              alt="{{ request_institute.name }}"
              height="60">
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'notices:notices' %}">
                  Notices
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'articles:home' %}">Blog</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="{% url 'account:profile_complete' %}">My Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="{% url 'account_logout' %}">
                    Logout
                  </a>
                </li>
	            {% else %}
	            <li class="nav-item">
                  <a class="nav-link page-scroll" href="{% url 'account_login' %}">
                    signIn/SignUp
                  </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="btn btn-singin" href="{% url 'account:dashboard' %}">Dashboard</a>
              </li>
            </ul>
          </div>
    </div>
</nav>
