{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load institute_filters %}
{% load static %}


{% block dashboard-body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        {{ instituteprofile.name }}
                    </div>
                    <div>
                        <a href="{% url 'institute:institute_config' institute_pk=request_institute.pk  %}">
                            Edit
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            {% for instance in institute_fields %}
                                {% for field, value in instance.fields.items %}
                                    <tr>
                                        <td scope="col">{{ field|str_replace:"_, " }}</td>
                                        <td>
                                            {{ value|default:"-" }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}