{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index_view' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Department</li>
  </ol>
</nav>

<h4>New Department Registration</h4>
<hr>
<div class="card">
  <div class="card-body">
    <form action="" method="POST" class="d-block">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Create Department" class="btn btn-primary">
    </form>
  </div>
</div>
{% endblock %}
