{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index_view' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Subject</li>
  </ol>
</nav>

<h4>Introduce New Subject</h4>
<hr>
<div class="card">
  <div class="card-body">
    <form action="{% url academic_urls.create_subject %}" method="POST" class="d-block">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Create Subject" class="btn btn-primary">
    </form>
  </div>
</div>
{% endblock %}


{% block extrajs %}
<script>
  $('input[type="file"]').change(function (e) {
    const fileName = e.target.files[0].name;
    $(".custom-file-label").html(fileName);
  });
</script>
{% endblock %}
