{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}

{% block dashboard-body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'students:students_dashboard_index' %}">Applicants</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Confrim Application(s)</li>
    </ol>
</nav>

<!-- Online Applicants Table & Form Row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 pl-0">
            <h4 class="ml-0 mb-0">Confirm Application(s)</h4>
            <small class="mt-1 mb-4 d-inline-block">Grant applicant(s) as admittable, so that admission authorities can admit him/her/them.</small>
        </div>

        <div class="col-md-12">
            <form action="" method="POST">
                {% csrf_token %}
                <!-- Filter Options -->
                <div class="">
                    <div class="form-row align-items-center justify-content-end">
                        <div class="form-group col-md-3">
                            <label for="dept">Department</label>
                            <select id="dept" class="form-control" name="department_code">
                                <option selected>Choose...</option>                            
                                {% for dept in departments %}
                                    <option value="{{ dept.code }}">{{ dept.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="batch">Batch</label>
                            <select id="batch" class="form-control" name="batch_id">
                                <option selected id="default-chosen-batch">Choose...</option>
                                {% for batch in batches %}
                                    <option value="{{ batch.id }}">{{ batch }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="batch">Session</label>
                            <select id="batch" class="form-control" name="session_id">
                                <option selected id="default-chosen-batch">Choose...</option>
                                {% for session in sessions %}
                                    <option value="{{ session.id }}">{{ session }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group align-self-end">
                            <button type="submit" class="btn btn-success">
                                Create Students
                            </button>
                        </div>
                    </div>
                </div>

                {% if messages %} 
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endfor %} 
                {% endif %}

                <!-- Online Applicants Table -->
                <div id="online-applicants" class="mt-4">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    <input class="btn btn-success btn-sm mb-1 btn-block" 
                                        id="toggle-check" type="button" value="check all"/>
                                    <input class="btn btn-danger btn-sm btn-block" 
                                        id="toggle-uncheck" type="button" value="uncheck all"/>
                                </th>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Batch</th>
                                <th scope="col">Semester</th>
                                <td scope="col">Action</td>
                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            {% if not students %}
                                {% for student in selected_registrants %}
                                    <tr>
                                        <td>
                                            <input name="registrant_choice" type="checkbox"
                                            value="{{ student.pk }}"/>
                                        </td>
                                        <td scope="row">{{ student.get_temp_id }}</td>
                                        <td>{{ student.name }}</td>
                                        <td>{{ student.choosen_department }}</td>
                                        <td> student.batch </td>
                                        <td> student.semester </td>
                                        <td>
                                            --
                                        </td>
                                    </tr>
                                    {% endfor %}
                            {% else %}
                                {% for student in students %}
                                <tr>
                                    <td>
                                        <input type="checkbox"/>
                                    </td>
                                    <td scope="row">{{ student.get_temp_id }}</td>
                                    <td>{{ student.admission_student.name }}</td>
                                    <td>{{ student.admission_student.choosen_department }}</td>
                                    <td> {{ student.batch }} </td>
                                    <td> {{ student.semester }} </td>
                                    <td>
                                        --
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script>
        const departmentDropdown = document.getElementById('dept');
        let batchesDropdown = document.getElementById('batch');
        const defaultChosenBatch = document.getElementById('default-chosen-batch');

        const actionToggler = document.getElementById('toggle-action');
        const actionChecks = document.querySelectorAll('check-mark');

        departmentDropdown.addEventListener('change', event => {
            const deptCode = parseInt(event.target.value);

            batchesDropdown.length = 0;
            batchesDropdown.appendChild(defaultChosenBatch);

            // Used to get host name
            let uri = window.location.origin;

            $.ajax({
                type: 'GET',
                url: `${uri}/students/api/batches/${deptCode}/`,
                success: function (response) {
                    const batches = response.data;
                    batches.forEach(batch => {
                        let option = document.createElement('option');
                        option.value = batch.id;
                        option.innerText = batch.number;
                        batchesDropdown.appendChild(option);
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#toggle-check').click(function () {
            $('input:checkbox').attr('checked','checked');
        })

        $('#toggle-uncheck').click(function () {
            $('input:checkbox').removeAttr('checked');
        })
        
    </script>
{% endblock %}
