{% extends 'dashboard.html' %}

{% block dashboard-body %}

<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <th scope="row">
            <a href="{% url 'students:student_details' pk=student.id %}">
              {{ student.temporary_id }}
          </th>
          <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
            <img src="{{ student.photo.url }}" class="mr-2 rounded-circle" height=24 width=24>
            {{ student.admission_student.name }}
          </td>
          <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
              {{ student.admission_student.choosen_department.name }}
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success">
                <i class="fas fa-cogs"></i>
              </button>
              <a href="{% url 'students:update_student' pk=student.id %}" class="btn btn-secondary">
                <i class="fas fa-edit"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}