{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'js/tagify/tagify.css' %}">
{% endblock %}

{% block dashboard-body %}
<form action="." method="POST" class="admission-form d-block" enctype='multipart/form-data'>
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-dark float-right" type="submit" value="Save">
</form>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/tagify/tagify.min.js' %}"></script>
    <script>
      {# Select image #}
      $('input[type="file"]').change(function(e){
        const fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
      });

      {# Tagify #}
      const input = document.getElementById('id_expertise'),
	        tagify = new Tagify( input, {duplicates: false} );

    </script>
{% endblock %}