{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index_view' %}">Dashboard</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'teachers:designations' %}">Designations</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<form action="." method="post" class="admission-form d-block">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-dark float-right" type="submit" value="Save">
</form>
{% endblock %}