autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
dateparser==0.7.2
Django==2.2.7
django-crispy-forms==1.8.0
django-debug-toolbar==2.1
fake-factory==9999.9.9
Faker==2.0.4
idna==2.8
Pillow==6.2.1
prompt-toolkit==2.0.9
pycodestyle==2.5.0
python-dateutil==2.8.1
pytz==2019.3
regex==2019.11.1
requests==2.22.0
six==1.13.0
SQLAlchemy==1.3.11
sqlparse==0.3.0
text-unidecode==1.3
tzlocal==2.0.0
urllib3==1.25.7
wcwidth==0.1.7
