{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <h3>Setup a new password for sms-lio admin.</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <input class="btn btn-success float-right" type="submit" value="Change Password">
            </form>
        </div>
    </div>
</div>

{% endblock %}