{% extends 'layout.html' %}
{% load static %}
{% load student_tags %}

{% block content %}
<section id="student-detail-section header">
  <div id="student-detail-section--inner">
    <div class="container">
      <a href="{% url 'index_view' %}" class="btn btn-danger">
        Dashboard
      </a>
      <a href="{% url 'students:delete_student' pk=student.pk %}" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i>
      </a>
      <a href="{% url 'students:update_student' pk=student.id %}" class="btn btn-secondary">
        <i class="fas fa-edit"></i>
      </a>
      <div class="row py-5">
        <div class="col-3">
          <img class="student-profile-img" src="{{ student.photo.url }}" alt="" width="200" height="200">
        </div>
        <div class="col-8">
          <h2>{{ student.name }}</h2>
          <h4>{{ student.department }} {{ student.semester }}</h4>
          <h4>Session: {{ student.ac_session }}</h4>
          {% if student.mobile %}
            <h4>Mobile: {{ student.mobile }}</h4>
          {% endif %}
          {% if student.email %}
          <h4>Mail: {{ student.email }}</h4>
          {% endif %}
          {% if student.guardian_mobile %}
            <h4>Guardian: {{ student.guardian_mobile }}</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5" id="student-information">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3>Result(s):</h3>
        
        <!-- Result Form Modal -->
        <div class="modal fade" id="resultForm" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Result For:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'students:add_result_in_details' pk=student.id %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="marks">Marks</label>
                    <input type="number" class="form-control" name="marks" id="marks">
                  </div>
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <select class="form-control" id="subject" name="subject">
                      {% for sub in subjects %}
                        <option value="{{ sub.subject_code }}">{{ sub.name }}</option>
                      {% endfor %}
                    </select>                    
                  </div>
                  <input type="submit" value="Save">
                </form>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">
                <button type="button" class="btn btn-sm btn-success btn-block" data-toggle="modal" data-target="#resultForm">
                  <i class="fas fa-plus"></i> Add New Record
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for semester in semesters %}
              <tr>
                <td>
                  <a href="{% url 'result:result_by_semester' student_id=student.id semester=semester %}">
                  {{ semester|num_suffix }} Semester</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <h3>Attendance:</h3>
        <a href="" class="btn btn-sm btn-success">
          <i class="fas fa-plus"></i> Add New Record
        </a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Semester</th>
              <th scope="col">Avg.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <h3>Academic Report(s):</h3>
        <a href="" class="btn btn-sm btn-success">
          <i class="fas fa-plus"></i> Add New Record
        </a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Semester</th>
              <th scope="col">Refference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- end of row -->
  </div>
</section>
{% endblock %}