{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}

{% block dashboard-body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Students</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</nav>

<!-- Stats - Links -->
<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="card bg-primary p-3">
            <h5>
                <a class="text-light" href="">Online Applicants
                    <span class="badge badge-light">
                        {{ online_applicants.count }}
                    </span>
                </a>
            </h5>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card bg-success p-3">
            <h5>
                <a class="text-light" href="">
                    Admitted <span class="badge badge-light">
                        {{ admitted_students.count }}
                    </span>
                </a>
            </h5>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card bg-danger p-3">
            <h5>
                <a class="text-light" href="">
                    Rejected <span class="badge badge-light">5</span>
                </a>
            </h5>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card bg-info p-3">
            <h5>
                <a class="text-light" href="{% url 'pages:online_admission' %}" target="_blank">
                    MANAGE ADMISSION SITE
                </a>
            </h5>
        </div>
    </div>
</div>
<hr>
<!-- Actions -->
<div class="row">
    <div class="action-btn-box mr-1">
        <a href="{% url 'students:add_student' %}" class="btn btn-sm btn-success">Add New Student</a>
    </div>
    <div class="action-btn-box mr-1">
        <a href="" class="btn btn-info btn-sm">This Months Admissons</a>
    </div>
    <div class="action-btn-box mr-1">
        <a href="" class="btn btn-sm btn-danger">
            Check Stats
        </a>
    </div>
</div>
{% endblock %}

{% block extrajs %}
    <script>
    // Select Image
    $('input[type="file"]').change(function(e){
        const fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
    </script>
{% endblock %}
