{% extends 'layout.html' %}
{% load static %}

{% block content %}
<section id="student-detail-section">
  <div id="student-detail-section--inner">
    <div class="container">
      <div class="row py-5">
        <div class="col-4">
          <img class="student-profile-img" src="{% static 'images/money.jpg' %}" alt="" width="300" height="200">
        </div>
        <div class="col-8">
          <h2>{{ student.name }}</h2>
          <p>{{ student.department }} {{ student.semester }}</p>
          <a href="{% url 'students:delete_student' pk=student.pk %}" class="btn btn-danger">Delete Student</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}