{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="login-form-section">
    <div id="login-form-section--inner">
        <div class="container">
            <div class="row justify-content-center py-5">
                <div class="col-6">
                    <h1 class="text-center">Registration</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <!-- <input type="hidden" name="next" value="{{ next }}"> -->
                        <button type="submit" class="btn btn-outline-info float-right">Register</button>
                    </form>
                    <a class="d-block" href="{% url 'account:login'  %}">
                        Back to login
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}