{% extends 'dashboard.html' %}
{% load static %} 

{% block dashboard-body %}
<h1>USER REQUESTS</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Approval Status</th>
      <th scope="col">Requested Role</th>
      <th scope="col">Approval Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ user }}</td>
      <td>{{ user.get_approval_status_display }}</td>
      <td>{{ user.get_requested_role_display }}</td>
      <td>
        <a href="{% url 'account:user_approval' pk=user.pk %}"
          class="btn btn-sm btn-success approve"
          data-user-pk="{{ user.pk }}">
          Aprove
        </a>
        <a 
          href="{% url 'account:approval_with_modification' pk=user.pk %}" 
          class="btn btn-sm btn-primary approve"
          data-user-pk="{{ user.pk }}">
          Modify & Approve
        </a>
        <a href="#" class="btn btn-sm btn-danger">Decline</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock dashboard-body %}

{% block extrajs %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% endblock %}