{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="login-form-section">
    <div id="login-form-section--inner">
        <div class="container">
            <div class="row justify-content-center py-5">
                <div class="col-6">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-outline-info float-right">Add Semester</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% endblock}