{% extends 'dashboard.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block dashboard-body %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index_view' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Online Payments</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <h4>Online Payment History (SSLCommerz)</h4>
        </div>
        {% if filter %}
        <div class="col-12">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
            </form>
        </div>
        {% endif %}
        <div class="col-12">
            {% render_table table 'django_tables2/bootstrap.html' %}
        </div>
    </div>
</div>
{% endblock %}
