{% extends 'articles/base.html' %}

{% block content %}

  <!-- Main Content -->
  <div class="container">
    <div class="row" style="padding-top: 35px;">
    <div class="col-lg-2 col-md-2 d-flex flex-column
      justify-content-center align-items-center text-center">
    </div>
      <div class="col-lg-12 col-md-12 mx-auto featured-articles rounded">
        <div class="shadow row p-4 featured-items-card">
          <!-- Large Featured Article -->
          <div class="col-sm-12 col-md-8 featured-latest rounded">
            <div class="large-article rounded">
              <a href="{{ latest_featured_article.get_absolute_url }}">
                <div class="large-article-container rounded">
                  <div class="overlay"></div>
                  <div class="cover-image">
                    <img 
                    src="{% if latest_featured_article %}{{ latest_featured_article.featured_image.url }}{% else %}https://picsum.photos/800{% endif %}" 
                    alt="{% if latest_featured_article %} {{ latest_featured_article }} {% endif %}" 
                    class="overlay-img">
                  </div>
                  <div class="main-content">
                    <small class="category-name">
		      <a href="{{ latest_featured_article.categories.first.get_absolute_url }}">
                        {{ latest_featured_article.categories.first|default:"CATEGORY PLACEHOLDER" }}
                      </a>
                    </small>
                    <h4>
                      <a href="{{ latest_featured_article.get_absolute_url }}">
                        {{ latest_featured_article|default:"Article Will Look Like This" }}
                      </a>
                    </h4>
                    <br>
                    <small class="pub-date">
                      {{ latest_featured_article.created|default:"DATE: 23 JAN 2021" }}
                    </small>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Last three artilces -->
          <div class="col-sm-12 col-md-4 d-flex featured-latest-list">
            <div class="section-title mb-3">
              <h4><i class="fas fa-sun ml-3"></i> Recent Articles</h4>
            </div>
            <div class="d-flex flex-column justify-content-between
               featured-latest-list--container">
              {% for article in last_three_articles %}
              <div class="featured-article d-flex">
                <a href="{{ article.get_absolute_url }}">
                  <img src="{{ article.featured_image.url }}" 
                  width="120" height="110" alt="" class="rounded">
                </a>
                <div class="article-content p-2 ml-2">
                  <small class="category-name">
                    <a href="{{ article.categories.first.get_absolute_url }}">
                      {{ article.categories.first }}
                    </a>
                  </small>
                  <p class="mt-1"><b>
                    <a href="{{ article.get_absolute_url }}">
                      {{ article.title }}
                    </a>
                  </b></p>
                </div>
              </div>
              {% empty %}
              <div class="no-article">
                <h5 class="ml-3"><i class="fas fa-frown"></i> No Article Was Found</h5>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Articles Top-section (one article for each category) -->
    <div class="row mt-5">
      {% for article in category_articles %}
        <div class="col-sm-12 col-md-3 mb-5">
          <a href="{{ article.get_absolute_url }}">
            <div class="article-card rounded">
              <img src="{{article.featured_image.url}}" 
                alt="{{ request_institute.name }}-{{ article.title }}" 
                class="shadow shadow-sm rounded article-preview-image">
              <div class="article-content p-2">
                <div class="category-name badge badge-info">
                  <a class="text-light" href="{{ article.categories.first.get_absolute_url }}">
                    {{ article.categories.first }}
                  </a>
                </div>
                <p class="my-1">
                  <b>
                    <a href="{{ article.get_absolute_url }}">
                      {{ article.title }}
                    </a>
                  </b>
                </p>
                <div class="metadata d-flex justify-content-between pr-4">
                  <small class="fsm muted mr-3">{{ article.created }}</small>
                  <!-- <small class="fsm muted">1500 VIEWS</small> -->
                </div>
              </div>
            </div>
          </a>
        </div>
      {% empty %}
      <div class="no-article">
        <h5 class="ml-3"><i class="fas fa-frown"></i> No Article Found from Any Category</h5>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Hihglighted and Most Reached Articles -->
  <section id="dark-section" style="background-color: rgb(36, 36, 36);">
    <div class="container py-4">
      <h3 class="text-light mb-3">Highlighted & Most Reached</h3>
      <div class="row">
        {% for article in highlights %}
        <div class="col-sm-12 col-md-3">
          <a href="">
            <div class="article-card rounded">
              <img src="{{ article.featured_image.url }}" alt="" class="rounded article-preview-image">
              <div class="article-content">
                <small class="category-name">
                  <a href="{{ article.categories.first.get_absolute_url }}">
                    {{ article.categories.first }}
                  </a>
                </small>
                <p class="my-1">
                  <b>
                    <a href="{{ article.get_absolute_url }}" class="text-light">
                      {{ article.title }}
                    </a>
                  </b>
                </p>
                <div class="metadata d-flex justify-content-between pr-4">
                  <small class="fsm muted mr-3">
                    {{ article.created }}
                  </small>
                  <!-- <small class="fsm muted">1500 VIEWS</small> -->
                </div>
              </div>
            </div>
          </a>
        </div>
        {% empty %}
        <div class="no-article text-light">
          <h5 class="ml-3"><i class="fas fa-frown"></i> No Article Was Found</h5>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Articles Bottom-section -->
  <div class="container">
    <div class="row p-4">
      {% for article in articles %}
        <div class="col-sm-12 col-md-3 mb-5">
          <a href="{{ article.get_absolute_url }}">
            <div class="article-card rounded">
              <img src="{{article.featured_image.url}}" alt="" class="rounded article-preview-image">
              <div class="article-content">
                <small class="category-name">
                  <a href="{{ article.categories.first.get_absolute_url }}">
			  {{ article.categories.first }}
		  </a>
                </small>
                <p class="my-1">
                  <b>
                    <a href="{{ article.get_absolute_url }}">
                      {{ article.title }}
                    </a>
                  </b>
                </p>
                <div class="metadata d-flex justify-content-between pr-4">
                  <small class="fsm muted mr-3">{{ article.created }}</small>
                  <!-- <small class="fsm muted">1500 VIEWS</small> -->
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <section id="newsletter">
    <div class="container">
      <div>
        <h2>Subscribe our <span>Newsletter</span></h2>

        <form id="newsletter-form"
        action="{% url 'articles:newsletter'%}"
        method="POST">
        {% csrf_token %}
          <div class="input-group">
            <input type="email" id="email" name="email" placeholder="Enter your email to subscribe newsletter">
            <input type="submit" value="submit" class="btn btn-rounded btn-bluish">
          </div>
        </form>

        <!-- <div class="social-links">
          <a href=""><i class="fab fa-facebook-f"></i>
          </a>
          <a href=""><i class="fab fa-dribbble"></i>
          </a>
          <a href=""><i class="fab fa-twitter"></i>
          </a>
          <a href=""><i class="fab fa-github"></i>
          </a>
        </div> -->
      </div>
    </div>
  </section>

  <!-- Footer -->
  {% include 'articles/inc/_footer.html' %}

{% endblock content %}



