{% extends 'articles/base.html' %}

{% block content %}
  <!-- Page Header -->
  {% if page_obj.number == 1 %}
  <header class="masthead" 
   {% if last_article.featured_image %}
   style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
           url('{{ last_article.featured_image.url }}')"
   {% else %}
     style="background-image: url('img/post-bg.jpg')"
   {% endif %}>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            {% if last_article %}
            <a href="{{ last_article.get_absolute_url }}" class="text-light">
              <h1>{{ last_article.title }}</h1>
              <span class="subheading">{{ last_article.short_description|safe }}</span>
            </a>
            {% else %}
              <h2>
                No article has been published yet.
              </h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endif %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
    <div class="col-lg-2 col-md-2 d-flex flex-column
      justify-content-center align-items-center text-center">
      <!-- <a href="{% url 'articles:create' %}" title="Publish new article">
        <i class="far fa-plus-square fa-3x"></i>
      </a> -->
    </div>
      <div class="col-lg-12 col-md-12 mx-auto featured-articles rounded">
        <div class="row p-4 featured-items-card">
          <!-- Large Featured Article -->
          <div class="col-sm-12 col-md-8 featured-latest rounded">
            <div class="large-article rounded">
              <a href="{{ latest_featured_article.get_absolute_url }}">
                <div class="large-article-container rounded">
                  <div class="overlay"></div>
                  <div class="cover-image">
                    <img src="{{ latest_featured_article.featured_image.url }}" 
                    alt=" {{ latest_featured_article }}" class="overlay-img">
                  </div>
                  <div class="main-content">
                    <small class="category-name">
                      <a href="">
                        {{ latest_featured_article.categories.first }}
                      </a>
                    </small>
                    <h4>
                      <a href="{{ latest_featured_article.get_absolute_url }}">
                        {{ latest_featured_article }}
                      </a>
                    </h4>
                    <br>
                    <small class="pub-date">
                      {{latest_featured_article.created}}
                    </small>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Last three artilces -->
          <div class="col-sm-12 col-md-4 d-flex featured-latest-list">
            <div class="section-title mb-3">
              <h4><i class="fas fa-sun ml-3"></i> Latest Articles</h4>
            </div>
            <div class="d-flex flex-column justify-content-between
               featured-latest-list--container">
              {% for article in last_three_articles %}
              <div class="featured-article d-flex">
                <a href="{{ article.get_absolute_url }}">
                  <img src="{{ article.featured_image.url }}" 
                  width="120" height="110" alt="" class="rounded">
                </a>
                <div class="article-content p-2">
                  <small class="category-name">
                    <a href="">
                      {{ article.categories.first }}
                    </a>
                  </small>
                  <p class="mt-1"><b>
                    <a href="{{ article.get_absolute_url }}">
                      {{ article.title }}
                    </a>
                  </b></p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Articles Top-section -->
    <div class="row p-4">
      {% for article in articles %}
        <div class="col-sm-12 col-md-3 mb-5">
          <a href="{{ article.get_absolute_url }}">
            <div class="article-card rounded">
              <img src="{{article.featured_image.url}}" alt="" class="rounded">
              <div class="article-content">
                <small class="category-name">
                  <a href="{{ article.categories.first.get_absolute_url }}">
                    {{ article.categories.first }}
                  </a>
                </small>
                <p class="my-1">
                  <b>
                    <a href="{{ article.get_absolute_url }}">
                      {{ article.title }}
                    </a>
                  </b>
                </p>
                <div class="metadata d-flex justify-content-between pr-4">
                  <small class="fsm muted mr-3">{{ article.created }}</small>
                  <!-- <small class="fsm muted">1500 VIEWS</small> -->
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <section id="dark-section" style="background-color: rgb(36, 36, 36);">
    <div class="container py-4">
      <h3 class="text-light mb-3">Highlighted & Most Reached</h3>
      <div class="row">
        {% for article in articles %}
        <div class="col-sm-12 col-md-3">
          <a href="">
            <div class="article-card rounded">
              <img src="{{ article.featured_image.url }}" alt="" class="rounded">
              <div class="article-content">
                <small class="category-name">
                  <a href="">
                    {{ article.categories.first }}
                  </a>
                </small>
                <p class="my-1">
                  <b>
                    <a href="{{ article.get_absolute_url }}" class="text-light">
                      {{ article.title }}
                    </a>
                  </b>
                </p>
                <div class="metadata d-flex justify-content-between pr-4">
                  <small class="fsm muted mr-3">
                    {{ article.created }}
                  </small>
                  <small class="fsm muted">1500 VIEWS</small>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Articles Bottom-section -->
  <div class="container">
    <div class="row p-4">
      {% for article in articles %}
        <div class="col-sm-12 col-md-3 mb-5">
          <a href="{{ article.get_absolute_url }}">
            <div class="article-card rounded">
              <img src="{{article.featured_image.url}}" alt="" class="rounded">
              <div class="article-content">
                <small class="category-name">
                  <a href="">Category</a>
                </small>
                <p class="my-1">
                  <b>
                    <a href="{{ article.get_absolute_url }}">
                      {{ article.title }}
                    </a>
                  </b>
                </p>
                <div class="metadata d-flex justify-content-between pr-4">
                  <small class="fsm muted mr-3">{{ article.created }}</small>
                  <!-- <small class="fsm muted">1500 VIEWS</small> -->
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Footer -->
  {% include 'articles/inc/_footer.html' %}

{% endblock content %}



