{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block dashboard-body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url account_urls.dashboard %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'students:alumnus' %}">Alumnus</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>

<div class="card mb-3">
    <div class="card-body">
        <form action="" method="get">
            <div class="form-row align-items-end">
                <div class="col">
                    {{ filter.form.admission_student__name|as_crispy_field }}
                </div>
                <div class="col">
                    {{ filter.form.roll|as_crispy_field }}
                </div>
                <div class="col">
                    {{ filter.form.admission_student__choosen_department|as_crispy_field }}
                </div>
                <div class="col">
                    {{ filter.form.ac_session|as_crispy_field }}
                </div>
                <div class="col">
                    {{ filter.form.batch|as_crispy_field }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="submit" value="Filter" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="alumnusDataTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">{{ department_label }}</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for alumni in filter.qs %}
            <tr>
              <td>
                <img src="{{ alumni.photo.url }}" class="mr-2 rounded-circle" height="24" width="24" alt="{{ alumni.admission_student.name }}">
                {{ alumni.admission_student.name }}
              </td>
              <td>
                {{ alumni.admission_student.choosen_department.name }}
              </td>
              <td>
                <a href="{% url 'students:update_student' pk=alumni.id %}" class="btn btn-sm btn-primary">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" class="text-center text-muted py-4">No alumni records found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#alumnusDataTable').dataTable();
  });
</script>
{% endblock extrajs %}
