{% extends 'dashboard.html' %} 
{% load crispy_forms_tags %} 

{% block dashboard-body %}

{% if user_form.errors %}
    {% for field in user_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in user_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form action="." method="post" class="admission-form d-block">
    {% csrf_token %}
    <div class="row align-items-end">
      <div class="col-6">
        <h5>User Information</h5>
        {{ user_form|crispy }}
        <h5>Permision</h5>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="user_role" id="admin-user" value="admin">
            <label class="form-check-label" for="admin-user">
                User is admin
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="user_role" id="stuff-user" value="stuff">
            <label class="form-check-label" for="stuff-user">
                User is stuff
            </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
</form>
{% endblock %}
