{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}
<div class="row">
    <!-- SEMESTER LIST -->
    <div class="col-md-9">
        <table class="table border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Department</th>
                    <th scope="col">Dept. Code</th>
                    <th scope="col">Dept. Head</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td>{{ department.dept_code }}</td>
                    <td>{{ department.head.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- SIDEBAR -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="" data-toggle="modal" data-target="#exampleModal">add new department</a>
            </li>
            <!-- Add Department Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Department</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> <!-- /modal header -->
                        <div class="modal-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-outline-info float-right">
                                    Add Department
                                </button>
                            </form>
                        </div>
                        <!-- /modal body -->
                    </div>
                </div>
            </div>
        </ul>
    </div> <!-- /sidebar -->
</div>
{% endblock %}