{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index_view' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Departments</li>
    </ol>
</nav>

<h4>Departments</h4>

<div class="row">
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table border">
                <thead>
                    <tr>
                        <th scope="col">Department</th>
                        <th scope="col">Dept. Code</th>
                        <th scope="col">Dept. Head</th>
                        <th scope="col">Dept. Creator</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>{{ department.name }}</td>
                        <td>{{ department.dept_code }}</td>
                        <td>{{ department.head.name }}</td>
                        <td>{{ department.created_by }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger" href="{% url academic_urls.delete_dept pk=department.id %}">
                                Delete
                            </a>
                            <a href="{% url academic_urls.update_department pk=department.pk %}" class="btn btn-sm btn-primary">
                                Update
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center text-muted py-4">No data found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- SIDEBAR -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="" data-toggle="modal" data-target="#exampleModal">add new department</a>
            </li>
        </ul>
        <!-- Add Department Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary float-right">
                                Add Department
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
