{% extends 'layout.html' %}

{% block content%}
<!-- Home Hero Section -->
<section id="home-hero">
  <div id="home-hero--inner">
    <div class="container">
      <div class="row py-5 justify-content-center align-items-center">
        <div class="col-12 py-5 text-center">
          <h1>Welcome To Daffodil Polytechnic Institute Student Portal</h1>
          <br>
          <h4 class="d-inline text-danger bg-warning p-2 shadow">
            This is temporary home page to maintain development process.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Home Todo Tasks-->
<section id="todos">
  <div id="todos--inner">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-6">
          <h3 class="text-danger">TO DO's</h3>
          <ul>
            <li>STUDENT:
              <ul>
                <li>Add/Update Student</li>
                <li>Student Details</li>
                <li>Student Activity Record</li>
                <li>Academic Session</li>
              </ul>
            </li>
            <li>DEPARTMENT:
              <ul>
                <li>Add/Update Dept</li>
                <li>Dept. Head</li>
                <li>Dept. Details</li>
              </ul>
            </li>
            <li>TEACHER:
              <ul>
                <li>Add/Update/Delete Teacher</li>
                <li>Joining</li>
                <li>Related Departments</li>
                <li>Related Subjects</li>
              </ul>
            </li>
            <li>CLASS:
              <ul>
                <li>Create Class</li>
                <li>Assign Guide Teacher To Certain Class</li>
                <li>Sections For Particular Class</li>
                <li>Subject Set Per Class</li>
                <li>Teacher Per Subject</li>
              </ul>
            </li>
            <li>CLUB:
              <ul>
                <li>Club Add/Update/Remove</li>
                <li>Club President</li>
                <li>Club Event Schedule</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-6 text-right">
          <h4 class="text-success">DONE:</h4>
          <ul>
            <li>Student Module</li>
            <li>Deparment</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}