/* VARIABLES */
:root {
	--primary-color: rgb(78, 115, 223);
	--green-color: #17A673;
	--cyan-color: #36B9CC;
	--yellow-color: #F6C23E;
}

/* FONTS */
@font-face {
	font-family: 'fontello';
	src: url('./font/fontello.eot?6968418');
	src: url('./font/fontello.eot?6968418#iefix') format('embedded-opentype'),
		url('./font/fontello.woff?6968418') format('woff'),
		url('./font/fontello.ttf?6968418') format('truetype'),
		url('./font/fontello.svg?6968418#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* GENERIC CLASSES*/
.lio-primary-bg {
	background: var(--primary-color);
	color: #fff;
}

.selected-item {
	border: 4px solid rgb(1, 160, 73);
}

.selected-item::after {
	content: '\f14a';
	font-family: "fontello";
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	background: rgb(1, 160, 73);
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 33px;
	text-align: center;
}

.hide {
	display: none;
}

.dashboard-section-title {position: relative;}
.dashboard-section-title .title-v-line {
	content: "";
	width: 5px;
	height: 100%;
	background: var(--green-color);
	position: absolute;
}
.dashboard-section-title h4 {
	margin-left: 7px;
	font-weight: 600;
	text-transform: uppercase;
}
.dashboard-section-title .color-2 {
	border-bottom: 2px solid var(--cyan-color);
	font-style: italic;
}


.card {
	box-shadow: 0.15rem 0.75rem 2rem rgba(58,59,69,.1);
}

.card h5 {
	font-weight: bold;
	font-size: 1rem;
}

.card-header {
	color: var(--primary-color);
	text-transform: capitalize;
}

.unpaid, .paid {
	min-width: 49%;
}

.title.list-group-item {
	background: #F7F7F7;
}

.unpaid h5, .paid h5 {
	color: var(--primary-color);
	text-transform: capitalize;
}

/* SIDEBAR */
.logo {
	display: flex;
    align-items: center;
    justify-content: center;
}

/* NAVBAR */


/* ==================================== */
/* --------- ADMISSION PAGE ----------- */
/* ==================================== */

.admission-form .nav-link.active {
	background: var(--primary-color);
	color: #fff;
	border: none;
}


/* ==================================== */
/* --------- DEPARTMENT PAGE ---------- */
/* ==================================== */
.list-group-item {
	text-transform: capitalize;
}


/* ==================================== */
/* ---------- ALL STUDENTS ------------ */
/* ==================================== */



/* ====================================------------ */
/* ---------- STUDENTS INDEX / COUNSEL ------------ */
/* -------------------------------------------------*/
.card-top-meta-info {
	/*height: 100%;*/
	max-height: 35px;
}
.card-record-date {
	max-height: 35px;
}
.card-actions-action {
	cursor: pointer;
}
.card-print-pdf-actions .card-actions-action {
	margin: 5px;
}
#monthly-report-table {
	transition: all 2s linear;
}
#monthly-report-table .table.table-striped {
	margin-bottom: 0;
}
#monthly_report_date {
	max-height: 34px;
	border: 0;
	outline: none;
	border-radius: 0;
}


/* ==================================== */
/* --------- ADMINISTRATIVE ----------- */
/* ------------------------------------ */

.group-table-perms {
	height: 100px;
	overflow: hidden;
	position: relative;
}
.table-td-show-more {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}


/* ============================================== */
/* --------- result/result_entry.html ----------- */
/* ---------------------------------------------- */
#student-preview-card-placeholder {
    padding: 1rem;
	border: 3px dotted rgb(95, 95, 95);
	color:  rgb(95, 95, 95);
}


#subjectCounter {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: rgb(218, 216, 216);
	border: 2px solid #fff;
	border-radius: 50%;
	color: #303030;
	font-weight: bolder;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 3px 2px 5px rgba(179, 179, 179, 0.8);
}

#subjectCounter #subjectCounterN {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ==================================== */
/*              ADMINATOR               */
/* ==================================== */
