<div class="container">
  <div class="row fixed-bottom justify-content-end m-3">
    <div class="actionbox mr-1">
      <a href="{% url 'articles:create' %}" title="Publish new article">
        <i class="fas fa-plus-square fa-2x"></i>
      </a>
    </div>
    <div class="actionbox mr-1">
      <a href="" id="scroll-bottom">
        <i class="fas fa-arrow-circle-down fa-2x"></i>
      </a>
    </div>
  </div>
</div>


<script>
document.getElementById("scroll-bottom").addEventListener('click',
  function(e){
    e.preventDefault();
    window.scrollTo(0,document.querySelector("body").scrollHeight);
  }
)
</script>
